.header img {
    display: inline;
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-top: 10px;
}

.header h1 {
    position: relative;
    top: -40px;
    display: inline;
}

.header {
    object-position: center;
    margin-bottom: 100px;
}